.gameboard {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid gray;
}

.game-btn {
    width:47%;
    height:47%;
    position: absolute;
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin: -15% 0 0 -15%;
    border-radius: 100%;
    background: white;

}
.start, .counter, .message {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 46%;
    margin: -15px 0 0 -50px;
}

.counter {
    top: 23%;
    width: 40px;
    left: 66%;
}

.message {
    top: 75%;
    left: 50%;
}

.tr{
   margin: 2% 0 0 51%;
     border-radius: 0 100% 0 0;
    background-color: rgb(191, 63, 63) /* red b-0*/
}
.br {
    margin: 51% 0 0 51%;
     border-radius: 0 0 100% 0;
    background-color: rgb(63, 63, 191) /* blue  b-1*/
}
.tl {
   margin: 2% 0 0 2%;
     border-radius: 100% 0 0 0;
    background-color: rgb(63, 191, 63); /* green b-2*/
}
.bl {
    margin: 51% 0 0 2%;
     border-radius: 0 0 0 100%;
    background-color: rgb(249, 249, 5) /* yellow b-3*/
}

.lit-0 { /* green */
background-color: rgba(63, 191, 63, .7);
}

.lit-1 { /*red*/
background-color: rgba(191, 63, 63, .7);
}

.lit-2 { /* blue */
background-color: rgba(63, 63, 191, .7);
}

.lit-3 { /* yellow */
background-color: rgba(249, 249, 5, .7);
}

/*add outer glow, texture? sound, check other game styles. */



