body {
    background:  #faedcb;
}

.gameboard {
        width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40vmin;
    margin-left: -40vmin;
    text-align: center;
    border-radius: 100%;
    background: black;
    border: 2vmin solid black;
    box-shadow: 0 0 30px #333;
}

.game-btn {
    width:43%;
    height:43%;
    position: absolute;
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    margin: -24% 0 0 -24%;
    border-radius: 100%;
    border: 3vmin solid black;
    background: black;

}

.simon {
    width: 87%;
    position: absolute;
    top: 11%;
    left: 8%;
}

.start, .strict {
      width: 35%;
    border-radius: .8vmin;
    height: 14%;
    font-size: 2vmin;
    color: white;
    text-transform: uppercase;
    padding: 1.25vmin .3vmin 0 .3vmin;
    font-family: 'Open Sans';
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    top: 43%;
}

.start {
margin-left: 8%;
background: #00a74a;
}

.start:hover,
.start:focus,
.start:active {
  background-color: #13ff7c;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(19,255,124,.5);
-moz-box-shadow: 0px 0px 5px 3px rgba(19,255,124,.5);
box-shadow: 0px 0px 5px 3px rgba(19,255,124,.5);
}

.strict {
  margin-left: 53%;
background: #cca707;
}

.strict:hover,
.strict:focus,
.strict:active {
background-color: #fed93f;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(254,217,63,.5);
-moz-box-shadow: 0px 0px 5px 3px rgba(254,217,63,.5);
box-shadow: 0px 0px 5px 3px rgba(254,217,63,.5);
}

.counter {
        position: absolute;
    top: 71%;
    margin-left: -24%;
    width: 53%;
    height: 20%;
    left: 48%;
    color: red;
    font-size: 5vmin;
    padding-top: 2vmin;
    font-family: Orbitron;
}

.msg {
    font-size: .4em;
    text-transform: uppercase;
        position: relative;
    top: -0.3em;
}

.counter {
    background: #333;
    border-radius: 6px;
}

.tr{
   margin: 4% 0 0 53%;
     border-radius: 0 100% 0 0;
    background-color: #9F0F17; /* red b-0*/
}
.br {
    margin: 53% 0 0 53%;
     border-radius: 0 0 100% 0;
    background-color: #094a8f; /* blue  b-1*/
}
.tl {
   margin: 4% 0 0 4%;
     border-radius: 100% 0 0 0;
    background-color: #00a74a; /* green b-2*/
}
.bl {
    margin: 53% 0 0 4%;
     border-radius: 0 0 0 100%;
    background-color: #cca707; /* yellow b-3*/
}

.lit-0 { /* green */
background-color: #13ff7c;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(19,255,124,1);
-moz-box-shadow: 0px 0px 30px 3px rgba(19,255,124,1);
box-shadow: 0px 0px 30px 3px rgba(19,255,124,1);
}

.lit-1 { /*red*/
background-color: #ff4c4c;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(255,76,76,1);
-moz-box-shadow: 0px 0px 30px 3px rgba(255,76,76,1);
box-shadow: 0px 0px 30px 3px rgba(255,76,76,1);
}

.lit-2 { /* blue */
background-color: #1c8cff;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(28,140,255,1);
-moz-box-shadow: 0px 0px 30px 3px rgba(28,140,255,1);
box-shadow: 0px 0px 30px 3px rgba(28,140,255,1);
}

.lit-3 { /* yellow */
background-color: #fed93f;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(254,217,63,1);
-moz-box-shadow: 0px 0px 30px 3px rgba(254,217,63,1);
box-shadow: 0px 0px 30px 3px rgba(254,217,63,1);
}
